
/**
.header{
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: limegreen;
    background-color: black;   
}

.teenyTiny{
    text-decoration: line-through;
    font-size: x-large;
    background-color: rebeccapurple;
    color: rgb(119,119,133);
}

#navigation{
    color: aqua;
    text-decoration: underline dotted black;
}

#testimonials{
    color: orange;
}

.tester{
    color: purple;
}

.titus:hover{
    color: red;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


p::first-letter{
    font-size: larger;
    font-family: fantasy;
}

article p {
    color: royalblue;
}

article > p{
    color: royalblue;
}
/**/


p::first-letter{
    font-size: larger;
    font-family: fantasy;
}

a[href="https://Google.com"]{color: red;}
a[href="https://Wikipedia.com"]{color: grey;}
a[href="https://W3schools.com"]{color:limegreen}
a[href="https://Mdn.com"]{color: lightblue;}
a[href="https://github.com"]{color:green}